{
  "swagger": "2.0",
  "info": {
    "title": "MS Graph API",
    "description": "",
    "version": "1.0"
  },
  "host": "graph.microsoft.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/v1.0/{objectType}": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Custom GET Request",
        "operationId": "MSGraphGetRequest",
        "parameters": [
          {
            "name": "objectType",
            "in": "path",
            "required": true,
            "type": "string",
            "enum": [
              "users",
              "groups",
              "teams"
            ]
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "type": "string",
            "default": "application/json"
          },
          {
            "name": "x-api-endpoint",
            "description": "API Endpoint",
            "in": "header",
            "required": false,
            "type": "string"
          },
          {
            "name": "ConsistencyLevel",
            "default": "eventual",
            "required": false,
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {}
            }
          }
        ]
      },
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Custom POST Request",
        "operationId": "MSGraphPostRequest",
        "parameters": [
          {
            "name": "objectType",
            "in": "path",
            "required": true,
            "type": "string",
            "enum": [
              "users",
              "groups",
              "teams"
            ]
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "type": "string",
            "default": "application/json"
          },
          {
            "name": "x-api-endpoint",
            "description": "API Endpoint",
            "in": "header",
            "required": false,
            "type": "string"
          },
          {
            "name": "ConsistencyLevel",
            "default": "eventual",
            "required": false,
            "in": "header",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {}
            }
          }
        ]
      }
    },
    "/v1.0/groups": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Get Groups",
        "operationId": "GetGroups",
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "$count",
            "in": "query",
            "required": false,
            "type": "boolean",
            "default": "true",
            "x-ms-visibility": "internal"
          },
          {
            "name": "ConsistencyLevel",
            "in": "header",
            "required": false,
            "type": "string",
            "default": "eventual",
            "x-ms-visibility": "internal"
          }
        ],
        "description": "Get groups using an oData $filter"
      }
    },
    "/v1.0/teams/{teamId}/members": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Get Team Members",
        "operationId": "GetTeamMembers",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/v1.0/users/{userPrincipalName}/photo/$value": {
      "put": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Update User Photo",
        "operationId": "UpdateUserPhoto",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "userPrincipalName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {}
            }
          }
        ]
      }
    }
  },
  "definitions": {
    "objectTypes": {
      "type": "string",
      "enum": [
        "users",
        "groups",
        "teams"
      ]
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "undefined": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://login.windows.net/common/oauth2/authorize",
      "tokenUrl": "https://login.windows.net/common/oauth2/authorize",
      "scopes": {}
    }
  },
  "security": [
    {
      "undefined": []
    }
  ],
  "tags": []
}