{
  "swagger": "2.0",
  "info": {
    "title": "MS Graph API",
    "description": "",
    "version": "1.0"
  },
  "host": "graph.microsoft.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/v1.0/users/userPrincipalName/photo/support@jstart.org": {},
    "/v1.0/users/userPrincipalName/photo/$value": {},
    "/v1.0/users/userPrincipalName/photo/{userPrincipalName}": {},
    "/v1.0/users/{userPrincipalName}/photo/$value": {
      "put": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Update User Photo",
        "operationId": "UpdateUserPhoto",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "userPrincipalName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {}
            }
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "undefined": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://login.windows.net/common/oauth2/authorize",
      "tokenUrl": "https://login.windows.net/common/oauth2/authorize",
      "scopes": {}
    }
  },
  "security": [
    {
      "undefined": []
    }
  ],
  "tags": []
}